# Tuples

-> A tuple is similar to list

-> The difference between the two is that we can't change(immutable) the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [2]:
#empty tuple
t= ()

#tuples having integers
t= (1,3,5)
print(t)

#tuples with mixed datatypes
t= (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t= (1, (2,3,4),[1, 'raju', 28, 'abc'])
print (t)

(1, 3, 5)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [3]:
#only parenthesis is not enough
t=('Saurabh')
type(t)

str

In [4]:
#need a comma at the end
t=('Saurabh',)
type(t)

tuple

In [6]:
#parenthesis is optional
t = 'Saurabh' , 'Kumar'
print(type(t))
print(t)

<class 'tuple'>
('Saurabh', 'Kumar')

# Accessing Elements in Tuple

In [9]:
t = ('Sonal', 'Abhi', 'Abhishek', 'Deeps')
print(t[1])

Abhi

In [10]:
#Negative index
print(t[-1]) #print last element in a tuple

Deeps

In [11]:
#nested tuple
t = ('ABC', ('Sonal', 'Abhi', 'Abhishek', 'Deeps'))
print(t[1])
print(t[1][3])

('Sonal', 'Abhi', 'Abhishek', 'Deeps')
Deeps

In [12]:
#Slicing

t= (1,2,3,4,5,6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from start to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

# Changing a Tuple

#unlike lists, tuples are immutable

#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [13]:
#creating tuple

t= (1,2,3,4,[5,6,7])
t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [14]:
t[4][1] = 'srb'
print(t)

(1, 2, 3, 4, [5, 'srb', 7])

In [15]:
#Concatinating Tuples

t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [17]:
#Repeat the elements in a tuple for a given number of times using the * operator

t = (('srb',)*4)
print(t)

('srb', 'srb', 'srb', 'srb')

# Tuple Deletion

In [21]:
# We cannot change the elements in a tuple.
# That also means we cannot delete or remove items from a tuple

# Delete entire tuple using del keyword
t= (1,2,3,4,5,6)

del t
#t.pop()

# Tuple Count

In [23]:
t= (1,2,3,1,3,3,4,1)
#get the frequency of a particular element appears in a tuple
t.count(3)

3

# Tuple Index

In [24]:
t= (1,2,3,1,3,3,4,1)
#return index of the frst element is equal to 3
print(t.index(3))

2

# Tuple Membership

In [25]:
# Test if an item exists in a tuple or not, using the keyword in
t = (1,2,3,4,5,6)
print(1 in t)

True

In [26]:
print(8 in t)

False

# Built in Functions

# Tuple Length

In [27]:
t = (1,2,3,4,5,6)
print(len(t))

6

# Tuple Sort

In [29]:
t = (4, 5, 1, 2, 3)
new_t = sorted(t)
print(t) 
print(new_t) 
#Take elements in the tuple and return a new sorted list 
#does not sort the tuple itself

(4, 5, 1, 2, 3)
[1, 2, 3, 4, 5]

In [30]:
#get the largest element in a tuple
t = (4, 5, 1, 2, 9)
print('Maximum in the list: ',max(t))
print('Minimum in the list: ',min(t))
print('Sum of elements in the list: ',sum(t))

Maximum in the list:  9
Minimum in the list:  1
Sum of elements in the list:  21